{% extends 'admin/master.html' %}

{% block body %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Добро пожаловать в административную панель!</h1>
    <br>
    <p class="lead">Здесь вы можете управлять данными вашего сайта, добавлять виджеты, вести статистику и т.д.</p>
    <p class="lead">Для получения помощи и документации по использованию админ-панели, перейдите на <a href="https://example.com/docs/admin">страницу документации</a>.</p>
    <p class="lead">Для редактирования списка товаров перейдите в "Товары".</p>
</main>

{% endblock %}
