{% extends 'index.html' %}

{% block body %}

    <H1 class="text-center">Информация для клиентов:</H1>

    <p class="text-center">
        Наша компания "Целинный РСУ, ООО" - это динамично развивающаяся организация, которая специализируется на строительстве жилых и нежилых зданий. Мы обладаем богатым опытом и профессиональным подходом к каждому проекту, стремясь предоставить клиентам только высококачественные решения.
        Мы гордимся своей командой, состоящей из опытных специалистов, которые готовы реализовать самые смелые идеи и превратить их в реальность. Наша миссия заключается в том, чтобы делать вашу жизнь комфортной и уютной, предлагая надежные и инновационные строительные решения.
        Важной частью нашего делового процесса является ответственность перед нашими клиентами и партнерами. Мы стремимся к построению долгосрочных и взаимовыгодных отношений, основанных на взаимном доверии и уважении.
        Мы приглашаем вас присоединиться к нашему сообществу и убедиться сами в качестве наших услуг и профессионализме нашей команды. Будем рады стать вашим надежным партнером в реализации ваших строительных проектов.
    </p>

    <H1 class="text-center">Информация для партнеров:</H1>

    <p class="text-center">
        Компания Целинный РСУ, ООО зарегистрирована 28 мая 2013 года по адресу 641150, Курганская обл., Целинный м.о., с. Целинное, ул. Бухарова, зд. 50а. Размер уставного капитала составляет 697 000 руб.
        ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЦЕЛИННЫЙ РЕМОНТНО-СТРОИТЕЛЬНЫЙ УЧАСТОК" присвоен ИНН 4520452057, КПП 452001001, ОГРН 1134526000091, ОКПО 03231711.
        Учредители компании — Банщиков Дмитрий Михайлович, Абанина Надежда Александровна, Таликин Виктор Михайлович, Трофимов Юрий Владимирович, Шипицын Борис Иванович. Генеральный директор: Банщиков Дмитрий Михайлович.
        Основным видом деятельности компании Целинный РСУ, ООО по ОКВЭД является: 41.20 Строительство жилых и нежилых зданий. Также Целинный РСУ, ООО работает еще по 6 направлениям.
        За 2022 год выручка компании составляет — 7 356 000 ₽, прибыль за 2022 год — -449 000 ₽. Стоимость компании на 2022 год оценивается в 2 588 270 ₽.
    </p>

{% endblock %}