{% extends 'index.html' %}

{% block body %}

<div class="bg-body-tertiary border rounded-3 text-center">
    <H1 class="fw-strong">Контактная информация организации:</H1>
    <p class="lead text-body-secondary">Телефон:</p>
    <p class="lead text-body-secondary">8 (35241) 2-13-45</p>
    <p class="lead text-body-secondary">Юридический адрес:</p>
    <p class="lead text-body-secondary">Курганская обл., с. Целинное, ул. Бухарова, зд. 50А, 641150</p>
</div>

<img class="bd-placeholder-img card-img-top" src="../static/img/office.jpg" alt="Image" width="200px" height="600px">


{% endblock %}